<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <div class="logo">
              <a href="https://schmidtfutures.com/" target="blank"><img src="https://sasip-climate.github.io/images/Schmidt-Futures-Logo-removebg-preview-removebg-preview.png" /></a>
          </div>
          <ul>
            <li class="copyright">This project is supported by Schmidt Futures – a philanthropic initiative that seeks to improve societal outcomes through the development of emerging science and technologies.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
