{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-news-list{{ end }}
{{ define "header_classes" }}{{ if .Params.header_transparent }}header-transparent{{ end }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

    <div class="strip theme-base">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="row">
                        {{ $paginator := .Paginate (where .Pages "Type" "news") }}
                        {{ range $paginator.Pages }}
                            <div class="col-12 mb-3">
                                {{ .Render "summary-row" }}
                            </div>
                        {{ end }}
                    </div>
                    <div class="row">
                        <div class="col-12">
                        {{ partial "components/paginator" . }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="sidebar">
                        {{ partial "taxonomy/list-terms-by-taxonomy" (dict "site" .Site "context" . "taxonomy" "categories" "heading" "Categories") }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ end }}
